@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}

.visible-xs {
  display: none;
}

@media (max-width: 768px) {
  .visible-xs {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumSquareRound' , 'sans-serif';
  font-weight: normal;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 6.25%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html, body {
    font-size: 0.2vw;
    overflow-x: hidden;
  }
}

a, em, b, i, q, address {
  text-decoration: none;
  font-style: normal;
  color: #000;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-1000 {
  width: 1000rem;
}

.section_style {
  position: relative;
  width: 100%;
  height: 90%;
}

.section_style img {
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

#header {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50rem;
          column-gap: 50rem;
  width: 100%;
  height: 100rem;
  border-bottom: 1rem solid #e6e6e6;
  background-color: #fff;
}

#header .logo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340rem;
  height: 100rem;
}

#header .logo_wrap .img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .logo_wrap .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .w-1000 {
  display: inline-block;
  height: 100rem;
}

#header .w-1000 .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header .w-1000 .gnb li {
  line-height: 100rem;
}

#header .w-1000 .gnb li a {
  font-size: 20rem;
  font-weight: bold;
}

#header .call_anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  font-size: 35rem;
}

#header .call_anchor .color_orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100rem;
  height: 30rem;
  text-align: center;
  font-size: 15rem;
  font-weight: bold;
  color: #ef8009;
  border-radius: 11rem;
  border: 3rem solid #ef8009;
}

#header .call_anchor .color_red {
  color: #e0002a;
  font-weight: bold;
}

.quick_menu_wrap {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100rem;
  height: 430rem;
  border-radius: 50rem;
  background-color: #fff;
  -webkit-box-shadow: 3rem 3rem 20rem 7rem rgba(40, 40, 40, 0.05);
          box-shadow: 3rem 3rem 20rem 7rem rgba(40, 40, 40, 0.05);
}

.quick_menu_wrap .quick_menu {
  margin-top: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quick_menu_wrap .quick_menu li {
  margin-bottom: 10rem;
  width: 80rem;
  height: 80rem;
}

.quick_menu_wrap .quick_menu li:last-child {
  margin: 0;
}

.quick_menu_wrap .quick_menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10rem;
  color: #262a3b;
  font-size: 14rem;
  font-weight: normal;
}

.quick_menu_wrap .quick_menu li a .img_wrap {
  width: 35rem;
  height: 35rem;
}

.quick_menu_wrap .quick_menu li a .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.quick_menu_wrap .top_btn {
  width: 100%;
  height: 50rem;
  text-align: center;
  font-size: 19rem;
  line-height: 50rem;
  border-radius: 0 0 80rem 80rem;
  background-color: #debd48;
}

.quick_menu_wrap .top_btn p {
  font-weight: 900;
  color: #fff;
}

.swiper-button-next {
  right: 15% !important;
  width: 70rem !important;
  height: 70rem !important;
  background: url(/img/main/btnNext.png) no-repeat;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 15% !important;
  width: 70rem !important;
  height: 70rem !important;
  background: url(/img/main/btnPrev.png) no-repeat;
}

.swiper-button-prev::after {
  display: none;
}

.slide01 {
  margin-top: 100rem;
  width: 100%;
  height: calc(100vh - 100rem);
}

.slide01 .swiper-wrapper {
  height: 100%;
}

.slide01 .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.slide01 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide02 {
  width: 100%;
  height: calc(100vh - 100rem);
}

.slide02 .swiper-wrapper {
  height: 100%;
}

.slide02 .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.slide02 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.calculator {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 50%;
  background-color: #ef8009;
}

.service_check {
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 10%;
  background-color: #ef8009;
}

.call_counsel {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 24%;
  width: 25%;
  height: 7%;
  background-color: #ef8009;
}

.ask_board {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 60%;
  background-color: #ef8009;
}

.review_board {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 60%;
  background-color: #ef8009;
}
