// 에스코어드림
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// 나눔스퀘어라운드
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// BreakPoints
@mixin mq($point) {
  @if $point == pc {
    @media (min-width: 2000px) {
      @content;
    }
  }
  @if $point == tablet_pc {
    @media (min-width: 769px) and (max-width:1999px){
      @content;
    }
  }
  @if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
}
.hidden-xs {
  @include mq(mobile) {
    display: none;
  }
}
.visible-xs{
  display: none;
  @include mq(mobile){
    display: block;
  }
}


*{
  box-sizing: border-box;
  font-family: 'NanumSquareRound' , 'sans-serif';
  font-weight: normal;
  scroll-behavior: smooth;
}
html, body{
  margin:0;
  padding: 0;
  font-size: 6.25%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include mq(mobile){
    font-size: 0.2vw;
    overflow-x: hidden;
  }
}
a, em, b, i, q, address{
  text-decoration: none;
  font-style: normal;
  color:#000;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-1000{
  // margin: 0 auto;
  width: 1000rem;
  // min-height: 100rem;
}

.section_style{
  position: relative;
  width: 100%;
  height: 90%;
  img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
  }
}


#header{
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  column-gap: 50rem;
  width: 100%;
  height: 100rem;
  border-bottom: 1rem solid #e6e6e6;
  background-color: #fff;
  .logo_wrap{
    display: flex;
    align-items: center;
    width: 340rem;
    height: 100rem;
    .img_wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .w-1000{
    display: inline-block;
    height: 100rem;
    .gnb{
      display: flex;
      justify-content: space-around;
      li{
        line-height: 100rem;
        a{
          font-size: 20rem;
          font-weight: bold;
        }
      }
    }
  }
  .call_anchor{
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 10rem;
    font-size: 35rem;
    .color_orange{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100rem;
      height: 30rem;
      text-align: center;
      font-size: 15rem;
      font-weight: bold;
      color: #ef8009;
      border-radius: 11rem;
      border: 3rem solid #ef8009;
    }
    .color_red{
      color: #e0002a;
      font-weight: bold;
    }
  }
}

.quick_menu_wrap{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  top:50%;
  right:2%;
  transform: translateY(-50%);
  width: 100rem;
  height: 430rem;
  border-radius: 50rem;
  background-color: #fff;
  box-shadow: 3rem 3rem 20rem 7rem rgba(40,40,40,0.05);
  .quick_menu{
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    li{
      margin-bottom: 10rem;
      width: 80rem;
      height: 80rem;
      &:last-child{
        margin: 0;
      }
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10rem;
        color: #262a3b;
        font-size: 14rem;
        font-weight: normal;
        .img_wrap{
          width: 35rem;
          height: 35rem;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  .top_btn{
    width: 100%;
    height: 50rem;
    text-align: center;
    font-size: 19rem;
    line-height: 50rem;
    border-radius: 0 0 80rem 80rem;
    background-color: #debd48;
    p{
      font-weight: 900;
      color: #fff;
    }
  }
}


.swiper-button-next{
  right: 15% !important;
  width: 70rem !important;
  height: 70rem !important;
  background: url(/img/main/btnNext.png) no-repeat;
  &::after{
    display: none;
  }
}
.swiper-button-prev{
  left: 15% !important;
  width: 70rem !important;
  height: 70rem !important;
  background: url(/img/main/btnPrev.png) no-repeat ;
  &::after{
    display: none;
  }
}

.slide01{
  margin-top: 100rem;
  width: 100%;
  height: calc(100vh - 100rem);
  .swiper-wrapper{
    height: 100%;
    .swiper-slide{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.slide02{
  width: 100%;
  height: calc(100vh - 100rem);
  .swiper-wrapper{
    height: 100%;
    .swiper-slide{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.calculator{
  position: absolute;
  z-index: 1;
  top:35%;
  left:50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  background-color: #ef8009;

}

.service_check{
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left:50%;
  transform: translateX(-50%);
  width: 50%;
  height: 10%;
  background-color: #ef8009;
}

.call_counsel{
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 24%;
  // transform: translateX(-50%);
  width: 25%;
  height: 7%;
  background-color: #ef8009;
}

.ask_board{
  position: absolute;
  z-index: 1;
  top: 30%;
  left:50%;
  transform: translateX(-50%);
  width: 50%;
  height: 60%;
  background-color: #ef8009;
}

.review_board{
  position: absolute;
  z-index: 1;
  top: 30%;
  left:50%;
  transform: translateX(-50%);
  width: 50%;
  height: 60%;
  background-color: #ef8009;
}